<!DOCTYPE html>
<html lang="en">

<head>
  <title>Simple Translation Project</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- import the webpage's stylesheet -->
  <link rel="stylesheet" href="/css/style.css" />

  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>

  <script src="https://aframe.io/releases/0.8.2/aframe.min.js"></script>

  <!-- import the webpage's javascript file -->
  <script src="/js/client.js"></script>
</head>

<body>

  <h2 id="startLanguageText"></h2>
  <h1 id="translatedText"></h1>

  <select id="startLanguage" type="text" style="position: absolute; top: 30px; right: 40px; z-index:1">
  </select>

  <select id="targetLanguage" type="text" style="position: absolute; top: 60px; right: 40px; z-index:1">
  </select>

  <a-scene id="ascene" vr-mode-ui="enabled: false">
    <!-- Camera -->
    <a-camera camera look-controls user-height="0">
      <a-cursor fuse="false" position="0 0 -0.5" geometry="primitive: ring; radiusInner: 0.0001; radiusOuter: 0.005" material="color: blue; shader: flat">
      </a-cursor>
    </a-camera>

    <a-box translatable englishword="square" position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9"></a-box>
    <a-sphere translatable englishword="sphere" position="0 1.25 -5" radius="1.25" color="#EF2D5E"></a-sphere>
    <a-cylinder translatable englishword="cylinder" position="1 0.75 -3" radius="0.5" height="1.5" color="#FFC65D"></a-cylinder>
    <a-plane translatable englishword="plane" position="0 0 -4" rotation="-90 0 0" width="4" height="4" color="#7BC8A4"></a-plane>
    <a-sky color="#ECECEC"></a-sky>
  </a-scene>
</body>

</html>
