* {
	box-sizing: border-box;
}

body {
	font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
	margin: 2em;
}

h1 {
	font-style: italic;
	color: #373fff;
}

#startLanguage {
	font-size: 1em;
	position: absolute;
	top: 30px;
	right: 40px;
	z-index:1
}

#targetLanguage {
	font-size: 1em;
	position: absolute;
	top: 70px;
	right: 40px;
	z-index:1
}

#translatedText {
	position: absolute;
	top: 40px;
	left: 40px;
	z-index:1;
	color:blue;
}

#startLanguageText {
	position: absolute;
	top: 10px;
	left: 40px;
	z-index:1;
}

#instructions {
	font-size: 2em;
	bottom: 40px;
	left: 40px;
	z-index:1;
	position: absolute;
}


.visible {
	animation: fadeInAnimation ease 2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.hidden {
	animation: fadeOutAnimation ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
@keyframes fadeOutAnimation {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
